//- .container
//- 	.jumbotron
//- 		h1 Lego
//- 		p Testing Angular Node Mean Stack
//- 	.row
//- 		.col-md-6
//- 			div(ng-include="'/partials/featured-courses'")
//- 		.col-md-6
//- 			div(ng-include="'/partials/new-courses'")